@{
    Layout = "_Layout";
}
@model GameModel

@{
    ViewData["Title"] = "Game";
}

<h2>Game</h2>

<form asp-controller="Game" asp-action="Index" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div id="question_answer" class="col-xs-12 question_answer">
        <div class="quest">
            <span>@Model.Questions.Peek().Text</span>
        </div>
        <div class="answ_block">
            <div class="answ_row clearfix">
                <div class="answ answer ahov">
                    <div class="answ_inside">
                        <div class="answ_text">
                            <span class="ans_1"><i></i>А:</span> <span class="ans_2">@Model.Questions.Peek().Answers[0].Text</span>
                        </div>
                    </div>
                </div>
                <div class="answ answer ahov">
                    <div class="answ_inside">
                        <div class="answ_text">
                            <span class="ans_1"><i></i>В:</span> <span class="ans_2">@Model.Questions.Peek().Answers[1].Text</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="number_center">2</div>
            <div class="answ_row clearfix">
                <div class="answ answer ahov">
                    <div class="answ_inside">
                        <div class="answ_text">
                            <span class="ans_1"><i></i>С:</span> <span class="ans_2">@Model.Questions.Peek().Answers[2].Text</span>
                        </div>
                    </div>
                </div>
                <div class="answ answer ahov">
                    <div class="answ_inside">
                        <div class="answ_text">
                            <span class="ans_1"><i></i>D:</span> <span class="ans_2">@Model.Questions.Peek().Answers[3].Text</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>


